# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
data/
target/
ml100K
src/main/java/com/li/jdk8/clock/
src/main/java/com/li/jdk8/optional/
src/main/java/com/li/jdk8/stream/
